.package {
     display: inline-block;
     width: 80%;
     margin: 10px;
     padding: 30px;
     border: 3px solid black;
}
.package-plus {
     background: lightgoldenrodyellow;
}
.package-free {
     background: lightgray;
}
.package-premium {
     background: darkgreen;
}